

.email-endereço-layla-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 120px;
}

.email-endereço-layla-container > img {
    width: 70px;
    margin-right: 10px;
    border-radius: 50%;
}

